__pycache__/
*.pyc

.venv/
venv/
env/

.env
config_local.py
borg_memory.json

borg_output.wav
*.wav

result.txt
results.txt
New Text Document.txt
trash/

crowdetect/train/
crowdetect/valid/
crowdetect/test/chat_dev_before_clean_ui.py
